<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br>
<br>
<br>
<br>
<br>
<br>

<!--Тут мы прописываем на какую страницу будет ссылаться когда активируется кнопка-->
<!--<form action="{% url 'thanks_page' %}" method="POST">-->
<!--    {% csrf_token %}-->
<!--    <label>Имя</label>-->
<!--    <input name="name">-->
<!--    <label>Телефон</label>-->
<!--    <input name="phone">-->
<!--    <button type="submit">ОТПРАВИТЬ</button>-->
<!--</form>-->
<!--Тут мы выводим форму импортированную из ДЖАНГО-->
<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">ОТПРАВИТЬ</button>
</form>

<br>
<br>
<br>
<br>
<br>
<br>


<! Прописываем значение переменной в шаблон>
<!--<h1>{{object_list}}</h1>-->

<! Итерируем объект "object_list" при помощи шаблонного тега for>
<!--{%  for obj in object_list %}-->

<! Далее выводим элементы обращаясь к полям объекта которые мы прописали в модели>
<!--<h2>{{obj.id}}</h2>-->
<!--<h2>{{obj.order_dt}}</h2>-->
<!--<h2>{{obj.order_name}}</h2>-->
<!--<h2>{{obj.order_phone}}</h2>-->


<! После прописываем закрывающую for - кострукцию>
<!--{%  endfor %}-->

<! Мы можем данные вывести в таблицу>
<! Приписываем таблицу с границей в один пиксель и с нужными  заголовками>

<!--{% if object_list %}-->
<!--<table border = "1" >-->
<!--    <tr>-->
<!--    <! прописываем наименование колоног и выводи один разr>-->
<!--       <th>ID</th>-->
<!--       <th>Дата</th>-->
<!--       <th>Имя</th>-->
<!--       <th>Телефон</th>-->
<!--     </tr>-->

<!--    <! Обернем эту таблицу в тег for>-->
<!--{%  for obj in object_list %}-->
<!--    <tr>-->
<!--       <th>{{obj.id}}</th>-->
<!--       <th>{{obj.order_dt}}</th>-->
<!--       <th>{{obj.order_name}}</th>-->
<!--       <th>{{obj.order_phone}}</th>-->
<!--    </tr>-->
<!--{%  endfor %}-->

<!--</table>-->
{% else %}
Нет данных!!!
{% endif %}

</body>
</html>